{% extends "base.html" %}
{% load i18n %}

{% block jumbotron_content %}
<p class='lead'>{% trans "Ended session. See you soon." %}</p>
<p><a href="{% url 'auth_login' %}">Login</a></p></p>
{% endblock %}