{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block tab_title %}{{block.super}}Reset password{% endblock %}

{% block jumbotron_content %}
<div class="container">
	<div class='col-sm-6 col-sm-offset-3'>
		<h2 class='text-align-center'><strong>Reset password</strong></h2><br/>
	<form method="post" action=".">
	  {% csrf_token %} 
	  {{ form|crispy }}

	  <input class='btn btn-block btn-primary' type="submit" value="{% trans 'Enviar' %}" />
	</form>
	</div>
</div>

{% endblock %}