{% extends "base.html" %}
{% load i18n %}

{% block jumbotron_content %}

<p>{% trans "Password has been reset correctly." %}</p>

<p><a href="{% url 'auth_login' %}">{% trans "Log in" %}</a></p>

{% endblock %}