{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block jumbotron_content %}
<div class='row'>
<div class='col-sm-6 col-sm-offset-3'>
	<h2 class='text-align-center'><strong>Sign up NOW!</strong></h2><br/>
<form method="post" action=".">
  {% csrf_token %}
  {{ form|crispy }}

  <input class='btn btn-block btn-primary' type="submit" value="{% trans 'Sign up' %}" />
</form>
</div>
</div>
</br>
<hr/>
<div class='row'>
<div class='col-sm-6 col-sm-offset-3 text-align-center'>
<p>{% trans "Already have an account?" %} <a href="{% url 'auth_login' %}">Log in</a>.</p>
</div>
</div>
{% endblock %}