
.product-feature-box {
    background-color: #ecf7ea; 
    color: #333333;
    border-radius: 15px / 50px; 
    width: auto; 
    height: auto; 
    padding: 0.2em 0.2em 0.2em 0.2em; 
}

.product-title-box {
	border-radius: 50px / 50px;
	background: #145a32;
	padding: 25px; 
	width: 99%;
	height: 60px;  
	margin-bottom:3%;
	margin-left:auto;
	margin-right:auto;
	vertical-align: middle;
}

.ad-title-box {
	border-radius: 20px / 50px;
	background: #ffc107;
	padding: 25px; 
	width: 99%;
	height: 60px;  
	margin-bottom:3%;
	margin-left:auto;
	margin-right:auto;
	vertical-align: middle;
}