.title-jumbotron {
	font-size: 40;
	font-family: impact;
}

.text-advice-error {
	color: red;
}

h3{
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	vertical-align: middle;
	text-align: center;
	white-space: nowrap;
}

h4{
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	vertical-align: middle;
	text-align: center;
	white-space: nowrap;
}

.product-title {
	color: white;
	vertical-align: middle;
}

.product-list {
	font-size: 1em;
	color: #333333;
}
