/*body {
	color: #444;
	min-height: 50rem;
}*/

.jumbotron {
	background-color: #c4e0cd;
}

.row-par {
	background-color: #ecf7ea;
}

.row-impar {
	background-color: #c7cdc5;
}

.btn-primary {
	background-color: #29bc45 !important;
	border-width: 0.15rem;
	border-color: #b6ceb5;
	
}

.btn-primary:hover {
	background-color: #3bc66a !important;
	border-width: 0.15rem !important;
	border-color: #3bc66a !important;
}

.btn-primary:active {
	background-color: #3bc66a !important;
	border-width: 0.15rem !important;
	border-color: rgba(25, 50, 50, 0.3) !important;
	transform: translateY(1px);
}

.btn-primary:focus {
	outline: none !important;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(25, 50, 50, 0.6) !important;
}
