
@media (min-width: 768px) {

	.navbar-nav > li > a {
	  padding-top: 26.5px;
	  padding-bottom: 26.5px;
	}


	.navbar-default {
		background-color: #145a32 !important;
		border-color: #ffffff;
	}

	.navbar-brand {
	    padding-left: 28px;
	    padding-top: 12px;
	 	padding-bottom: 12px;
		transform: scale(1.1, 1.1);
	}
	.navbar-brand:hover {
		color: #c4e0cd !important;	
		transform: scale(1.4, 1.4);
	}

	.nav-link {
	    padding-left: 1rem !important;
	    padding-right: 1rem !important;
	    padding-top: 26.5px;
	  	padding-bottom: 26.5px;
	}

	.nav-myform {		
	    padding-left: 1rem !important;
	    padding-right: 1rem !important;
	    padding-top: 19px;
	 	padding-bottom: 19px;
	}

	.nav-link:hover {
		color: #ffffff !important;
		transform: scale(1.2, 1.2);
	}


	.btn-outline-success {
		border-color: rgba(196, 224, 205, 0.3) !important;
		border-width: 0.1rem !important;
	}
	.btn-outline-success:hover {
		background-color: #3bc66a !important;
		border-color: #29bc45 !important;
		border-width: 0.1rem !important;
		color: white !important;
	}
	.btn-outline-success:active {
		background-color: #3bc66a !important;
		transform: translateY(1px);
	}



	.btn-secondary {
		background-color: #29bc45 !important;
		border-color: rgba(255, 255, 255, 0.4);
		border-width: 0.1rem;
	}
	.btn-secondary:hover {
		background-color: #3bc66a !important;
		border-color: white;
		color: white !important;
		border-width: 0.1rem;
	}
	.btn-secondary:active {
		background-color: #3bc66a !important;
		transform: scale(0.95, 0.95);
	}
	.btn-secondary:focus {
		box-shadow: 0 0 0 0 !important;
	}
}