{% extends "base.html" %}
{% load static %}

{% block tab_title %}{{block.super}}{{tab_title}}{% endblock %}

{% block jumbotron_content %}
<h1 align="center"><FONT FACE="impact" SIZE=40>{{title}}</FONT></h1>
</br>

<div align="center"> <iframe width="560" height="315" src="https://www.youtube.com/embed/y9ZK7QEq6Uw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> </div>

</br>

<div class='row'>
	<div class="col-sm-8 mr-auto ml-auto">

		<p class="lead">Hi! This is <strong>DOFIN</strong> - <strong>D</strong>etector de <strong>O</strong>fertas <strong>F</strong>raudulentas en <strong>IN</strong>ternet, the eBay scam solution.
		</br></br>My name is Dani Jiménez. I developed DOFIN with the help of Jose Jesús Castro-Sanchez.This app is the result of an University project. 
		</br></br>You can introduce an eBay URL to DOFIN. This URL should reference a product you want to buy and you are not sure at all about it reliability. Introduced the URL, DOFIN return to you a report with wich you can value about the reliability of that offer. In other words, DOFIN will help you to decide if buying an article you distrust is a good idea or not.
		</br></br>Remember:
		</br></t>- Support is available through the 'Contact' section.
		</br></t>- Go now and create a free account to access de forum and obtain personalized results.
		
		</br></br>University:
		</p>
	</div>
</div>


<div class='row'>
	<div class="col-sm-4 offset-sm-3">
		<a target="_blank" rel="noopener noreferrer" href="http://webpub.esi.uclm.es/">
		<img src= "{% static 'img/esi.jpg' %}" alt="ESI logo image" 
			style='height: 100%; width: 100%; max-width:300px; object-fit: contain'>
		</a>
	</div>
	<div class="col-sm-3">
		<a target="_blank" rel="noopener noreferrer" href="https://www.uclm.es/">
		<img src= "{% static 'img/logo-uclm.jpg' %}" alt="UCLM logo image"
			style='height: 100%; width: 100%; max-width:200px; object-fit: contain'>
		</a>
	</div>
</div>

{% endblock %}