<!doctype html>
{% load static %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="DOFIN - Detector de Ofertas Fraudulentas en INternet">
    <meta name="author" content="Daniel Jiménez Rodríguez">
    <meta name="generator" content="Jekyll v3.8.5">
    
    <title>{% block tab_title %}DOFIN | {% endblock %}</title>

    {% include "head_js.html" %}  
    {% include "head_css.html" %}  
  </head>


  <body>

    {% include "topnavbar.html" %}       
 
    <div class="jumbotron">
      {% block jumbotron_content %}
      {% endblock %}
    </div>

    {% block content %}
    {% endblock %} 
    
	</body>

</html>
