{% extends "base.html" %}

{% block tab_title %}{{block.super}}{{tab_title}}{% endblock %}

{% block jumbotron_content %}
<h1 align="center"><FONT FACE="impact" SIZE=40>{{title}}</FONT></h1>
</br>


<div class="container">

	<div class='row row-impar'>
		<div class='col-md-10 offset-md-1'>
			<h3><strong> Q: Why I put a URL and it say that is not a correct URL? </strong></h3>
			<p>First check if you put the correct protocol 'http://' or 'https://' at the beggining of the URl you introduced in DOFIN.</p>
		</div>
	</div>

	<div class='row row-par'>
		<div class='col-md-10 offset-md-1'>
			<h3><strong> Q: Can I trust 100% of the obtained results? </strong></h3>
			<p>The goal is to give you as much information as we can gather to help you. But it's up to you.</p>
		</div>
	</div>

	<div class='row row-impar'>
		<div class='col-md-10 offset-md-1'>
			<h3><strong> Q: I send you a message, but you don't answered me yet. How long do you take to answer? </strong></h3>
			<p>Please, send another message. In case there have been problems in receiving it, we will recieve the new one. The response time depends on the amount of work you have at that moment. Sorry for the wait..</p>
		</div>
	</div>

	<div class='row row-par'>
		<div class='col-md-10 offset-md-1'>
			<h3><strong> Q: Why I can not report web pages, or see the Top Scam section? </strong></h3>
			<p>Remember you need to be registered and logged to access this two section.</p>
		</div>
	</div>


</div>
{% endblock %}
		
		
	