{% load static %}

<!-- bOOTSTRAP -- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"></link>

<!-- Estilos personalizados -->
<link href="{% static 'css/navbar-top.css' %}" rel="stylesheet">
<link href="{% static 'css/jumbotron-main.css' %}" rel="stylesheet">
<link href="{% static 'css/custom-texts.css' %}" rel="stylesheet">
<link href="{% static 'css/custom-divs.css' %}" rel="stylesheet">
<link href="{% static 'css/custom-imgs.css' %}" rel="stylesheet">