{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block tab_title %}{{block.super}}Homepage{% endblock %}

{% block jumbotron_content %}
	<div class="container">

		<h1 align='center'><a href="{% url 'index' %}" style="text-decoration: none"><FONT FACE='impact' SIZE=40 COLOR='fff'>DOFIN</FONT></a></h1>
		</br>
		<div class='row'>
			<div class="col-sm-10 offset-md-1">
				<p class='lead'>Welcome to the homepage of <strong>DOFIN</strong> - <strong>D</strong>etector de <strong>O</strong>fertas <strong>F</strong>raudulentas en <strong>IN</strong>ternet, the online scam solution. 
				</br>
				</br>DISTRUST A WEBSITE? Enter a URL of a product you want to buy and obtain an inform that helps you to decide if it is a good idea or not.</p>
			</div>
		</div>
		
		</br>

		<div class='row'>
			<div class="col-sm-10 offset-sm-1">
				<form method='POST' class='post-form' action=''>
					{% csrf_token %}
					{{petition_form|crispy}}
					<input type='submit' class='btn btn-primary btn-lg' value='CHECK NOW &raquo;' />
				</form> 
			</div>
		</div>
	</div>
{% endblock %}

<!-- {% block content %}
	<p align='right'>Visitas recibidas:{{num_visits}} </p>
{% endblock %} -->
		
	
