{% extends "base.html" %}

{% block tab_title %}{{block.super}}{{tab_title}}{% endblock %}

{% block jumbotron_content %}
<h1 align="center"><FONT FACE="impact" SIZE=40>{{title}}</FONT></h1>
</br>


<div class="container">

	<div class='row row-par'>
		<div class="col-sm-12 mr-auto ml-auto">
			<h3>{{descripcion}}</h3>
		</div>
	</div>

<br/><br/>

	
	<div class='row'>
		<div class="col-md-4">
			<div class="product-title-box">
				<h4 class="product-title">INFO producto:</h4>
			</div>
			<ul class="product-list"> 				
			    <li class="product-list">
			        <p class="product-list"> <span class="product-feature-box">Estado:</span> {{estado}}</p>
			    </li>		
			    <li class="product-list">
			        <p class="product-list"> <span class="product-feature-box">Marca:</span> {{marca}}</p>
			    </li>
			     <li class="product-list">
			        <p class="product-list"> <span class="product-feature-box">Modelo:</span> {{modelo}} </p>
			    </li>
			     <li class="product-list">
			        <p class="product-list"> <span class="product-feature-box">Precio:</span> {{precio}} {{divisa}} </p>
			    </li>
			     <li class="product-list">
			        <p class="product-list"> <span class="product-feature-box">Ventas (del producto):</span> {{vendidos}} </p>
			    </li>
			</ul>
		</div>

		<div class="col-md-4">
			<div class="product-title-box">
				<h4 class="product-title">INFO vendedor:</h4>
			</div>
			<ul>
			    <li>
			        <p class="product-list"> <span class="product-feature-box">Usuario:</span> {{user_name}}</p>
			    </li>
			    <li>
			        <p class="product-list"> <span class="product-feature-box">Nombre:</span> {{seller_name}}</p>
			    </li>
			     <li>
			        <p class="product-list"> <span class="product-feature-box">Dirección:</span> {{seller_direction}} </p>
			    </li>
			     <li >
			        <p class="product-list"> <span class="product-feature-box">País:</span> {{seller_country}} </p>
			    </li>
			     <li>
			        <p class="product-list"> <span class="product-feature-box">Email:</span> {{seller_email}} </p>
			    </li>
			     <li>
			        <p class="product-list"> <span class="product-feature-box">En eBay desde:</span> {{seller_antiquity}} </p>
			    </li>
			     <li>
			        <p class="product-list"> <span class="product-feature-box">Seguidores:</span> {{followers}} </p>
			    </li>
			     <li>
			        <p class="product-list"> <span class="product-feature-box">Productos en Venta:</span> {{products_for_sale}} </p>
			    </li>
			     <li>
			        <p class="product-list"> <span class="product-feature-box">(*) Vendedor Experto?</span> </p>
			    </li>
			     <li>
			        <p class="product-list"> <span class="product-feature-box">(*) Power Seller?</span> {%if PS_FLAG%}Sí{%else%}No{%endif%} </p>
			    </li>
			     <li>
			        <p class="product-list"> <span class="product-feature-box">(*) Top Rated Plus?</span> </p>
			    </li>

			    <!--<table style="width:100%" border=1> -->
			    <table class='table-hover'>
					<tr>
					  <th colspan="4">Valoraciones ({{feedback_num_total}})</th>
			  		</tr>
					<tr>
					  <th></th>
					  <th>Positivos</th>
					  <th>Negativos</th>
					  <th>Neutrales</th>
			  		</tr>
					<tr>
						<th>Último mes</th>
					  	<td>{{num_positives_1month}}</td> 
					  	<td>{{num_negatives_1month}}</td> 
					  	<td>{{num_neutrals_1month}}</td>
					</tr>
					<tr>
						<th>Últimos 6 meses</th>
					  	<td>{{num_positives_6months}}</td> 
					  	<td>{{num_negatives_6months}}</td> 
					  	<td>{{num_neutrals_6months}}</td>
					</tr>
					<tr>
						<th>Último año</th>
					  	<td>{{num_positives_12months}}</td> 
					  	<td>{{num_negatives_12months}}</td> 
					  	<td>{{num_neutrals_12months}}</td>
					</tr>
				</table>
			</ul>
		</div>

		<div class="col-md-4">
			<div class="product-title-box">
				<h4 class="product-title">INFO compraventa:</h4>
			</div>
			<ul> 
			    <li>
			        <p class="product-list"> <span class="product-feature-box">Plazo de devolución:</span> {{term_return}} días </p>
			    </li>
			     <li>
			        <p class="product-list"> <span class="product-feature-box">Costes de envío:</span> {{shipping_costs}} </p>
			    </li>
			     <li>
			        <p class="product-list"> <span class="product-feature-box">PayPal?</span> {%if FLAG_PAYPAL%}Sí{%else%}No{%endif%} </p>
			    </li>
			     <li>
			        <p class="product-list"> <span class="product-feature-box">Visa?</span> {%if FLAG_VISA%}Sí{%else%}No{%endif%} </p>
			    </li>
			     <li>
			        <p class="product-list"> <span class="product-feature-box">Master Card?</span> {%if FLAG_MASTERCARD%}Sí{%else%}No{%endif%} </p>
			    </li>
			     <li>
			        <p class="product-list"> <span class="product-feature-box">Discover?</span> {%if FLAG_DISCOVER%}Sí{%else%}No{%endif%} </p>
			    </li>
			</ul>
		</div>

	</div>


{% if not FLAG_NO_CAMEL and not FLAG_NO_PRODUCT %}
	<div class='row row-impar'>	
		 <div class="col-md-12 mr-auto ml-auto">
			<br/>
			<div class="product-title-box">
				<h4 class="product-title">INFORMACIÓN ADICIONAL:</h4>				
			</div>	

			<div style="margin:0 auto;"> 
				<p><span class="product-feature-box"> ¡Atención! Observa la descripción del producto. Podría tratarse del mismo producto o uno similar. </span></p>
			</div>

			<div style="margin: auto auto;">	
				<img class="center-image" alt="Gráfico no encontrado" src={{URL_graph}} class="center">
			</div>
		</div>	

		 <div class="col-md-6">
			<ul>
			    <li>
			        <p class="product-list"> Precio máximo histórico de Amazon: {{highest_amazon_price}} ({{highest_amazon_date}}) </p>
			    </li>
			     <li>
			        <p class="product-list"> Precio mínimo histórico de Amazon: {{lowest_amazon_price}} ({{lowest_amazon_date}}) </p>
			    </li>
			     <li>
			        <p class="product-list"> Media del precio histórico de Amazon: {{avg_amazon_price}} </p>
			    </li>
			</ul>
		</div>	
		<div class="col-md-6">
			<ul>
			     <li>
			        <p class="product-list"> Precio máximo histórico de terceros: {{highest_tercero_price}} ({{highest_tercero_date}}) </p>
			    </li>
			     <li>
			        <p class="product-list"> Precio mínimo histórico de terceros: {{lowest_tercero_price}} ({{lowest_tercero_date}}) </p>
			    </li>
			     <li>
			        <p class="product-list"> Media del precio histórico de terceros: {{avg_tercero_price}} </p>
			    </li>	
			</ul>	
		</div>	
	</div>
{% endif %}

	<div class='row row-par'>
		<div class="col-md-12">
			<br/>
			<div class="ad-title-box">
				<h4 class="product-title">AVISOS:</h4>				
			</div>	

			<ul>
				{% if not FLAG_NO_CAMEL and not FLAG_NO_PRODUCT %}
				<li>
					{% if FLAG_PRICE_ALERT %}
						<p class="alert"> [MAL] El precio ({{precio}}) parece que <strong>NO</strong> se encuentra entre los valores de máximo y mínimo históricos. </p>
					{% else %}
						<p class="alert"> [BIEN] El precio ({{precio}}) se encuentra entre los valores de máximo y mínimo históricos. </p>
					{% endif %}	
					<table class="table width:75% table-bordered table-dark text-center">
					<tr align="right">
					  <th></th>
					  <th class="text-center">Mínimo histórico</th>
					  <th class="text-center">Precio eBay</th>
					  <th class="text-center">Máximo histórico</th>
			  		</tr>
					<tr>
						<th>Precio Amazon</th>
						<td>{{lowest_amazon_price}}</td>
						<td class="align-middle" rowspan="2">{{precio}}</td>
						<td>{{highest_amazon_price}}</td>
			  		</tr>
					<tr>
						<th>Precio de terceros</th>
					  	<td>{{lowest_tercero_price}}</td>

					  	<td>{{highest_tercero_price}}</td>
			  		</tr>
					</table>	
				</li>
				{% endif %}	

				
				{% if FLAG_WORSE_FEEDBACK %}
				<li>
					<p class="bad_alert"> [MAL] El vendedor en el último mes ha recibido {{num_positives_1month}} valoraciones positivas y {{num_negatives_1month}} valoraciones negativas. Tiene una <strong>PEOR</strong> valoración en comparación con el último semestre y el último año.. </p>
				</li>
				{% endif %}	

				{% if PS_FLAG %}
				<li>
					<p class="good_alert"> [BIEN] El vendedor está considerado por eBay como POWER SELLER. </p>
					<a href="https://centroparavendedores.ebay.es/como-convertirse-vendedor-powerseller"> ¿Qué es Power Seller? <a>
				</li>
				{% endif %}	

				{% if FLAG_SOLDS %}
				<li>
					<p class="good_alert"> [BIEN] El vendedor ya ha vendido {{vendidos}} artículos del mismo producto. </p>
				</li>
				{% endif %}	

				{% if FLAG_NO_PHOTO %}
				<li>
					<p class="bad_alert"> [MAL] El vendedor <strong>NO</strong> tiene foto de perfil. </p>
				</li>
				{% endif %}	

				{% if FLAG_FOLLOWERS %}
				<li>
					<p class="good_alert"> [BIEN] El vendedor tiene un elevado número de seguidores: {{followers}}. </p>
				</li>
				{% endif %}	

				{% if FLAG_DAYS_ANTIQ > 0 and FLAG_DAYS_ANTIQ < 365 %}
				<li>
					<p class="bad_alert"> [MAL] El vendedor es miembro de eBay desde hace <strong>menos de 1 año</strong> ({{antiguedad}}). </p>
				{% elif FLAG_DAYS_ANTIQ > 0 and FLAG_DAYS_ANTIQ > 1096 %}	
					<p class="good_alert"> [BIEN] El vendedor es miembro de eBay desde hace <strong>más de 3 años</strong>  ({{antiguedad}}). </p>
				</li>
				{% endif %}	

				{% if FLAG_PAYPAL %} {% if FLAG_VISA or FLAG_MASTERCARD or FLAG_DISCOVER  %}
				<li>
					<p class="good_alert"> [BIEN] Está permitido el pago por Paypal y al menos un tipo de tarjeta.
				</li>
				{% endif %} {% endif %}	

			</ul>
		</div>	
	</div>
	


</div>
{% endblock %}
		
		
	